.btn-mikuns {
    color: #fff;
    background-color: #5A5C80;
    border-color: #5A5C80; }
.btn-mikuns:hover {
    color: #fff;
    background-color: #2C2E3E;
    border-color: #2C2E3E; }
.btn-mikuns:focus, .btn-mikuns.focus {
    box-shadow: 0 0 0 0.2rem rgba(44, 46, 62, 0.6); }
.btn-mikuns.disabled, .btn-mikuns:disabled {
    color: #fff;
    background-color: #5A5C80;
    border-color: #5A5C80; }
.btn-mikuns:not(:disabled):not(.disabled):active, .btn-mikuns:not(:disabled):not(.disabled).active,
.show > .btn-mikuns.dropdown-toggle {
    color: #fff;
    background-color: #2C2E3E;
    border-color: #2C2E3E; }
.btn-mikuns:not(:disabled):not(.disabled):active:focus, .btn-mikuns:not(:disabled):not(.disabled).active:focus,
.show > .btn-mikuns.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(44, 46, 62, 0.5); }

.btn-mikuns.m-btn--air{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(44, 46, 62, 0.19) !important;
    -moz-box-shadow: 0px 5px 10px 2px rgba(44, 46, 62, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(44, 46, 62, 0.19) !important; }

.btn-mikuns.m-btn--air.focus,
.btn-mikuns.m-btn--air:focus,
.btn-mikuns.m-btn--air:hover{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(44, 46, 62, 0.36) !important;
    -moz-box-shadow: 0px 5px 10px 2px rgba(44, 46, 62, 0.36) !important;
    box-shadow: 0px 5px 10px 2px rgba(44, 46, 62, 0.36) !important; }

.btn.btn-mikuns {
    color: #ffffff; }
.btn.btn-mikuns.active, .btn.btn-mikuns.focus, .btn.btn-mikuns:focus, .btn.btn-mikuns:hover:not(:disabled) {
    color: #ffffff !important; }

.bootstrap-select.btn-group > .dropdown-toggle.bs-placeholder.btn-mikuns {
    color: #ffffff; }
.bootstrap-select.btn-group > .dropdown-toggle.bs-placeholder.btn-mikuns > .filter-option {
    opacity: 0.8 ;
    filter: alpha(opacity=80) ; }

.alert.m-alert--outline.alert-mikuns {
    color: #575962;
    background-color: #ffffff;
    border-color: #5A5C80;
    color: #5A5C80;
    font-weight: 400; }
.alert.m-alert--outline.alert-mikuns hr {
    border-top-color: #5A5C80; }
.alert.m-alert--outline.alert-mikuns .alert-link {
    color: #3f4047; }
.alert.m-alert--outline.alert-mikuns .close {
    color: #5A5C80; }
.alert.m-alert--outline.alert-mikuns .m-alert__icon i {
    color: #5A5C80; }
.alert.m-alert--outline.alert-mikuns.m-alert--icon-solid .m-alert__icon {
    position: relative;
    background: #5A5C80; }
.alert.m-alert--outline.alert-mikuns.m-alert--icon-solid .m-alert__icon i {
    color: #ffffff; }
.alert.m-alert--outline.alert-mikuns.m-alert--icon-solid .m-alert__icon span {
    border-left-color: #5A5C80; }

.alert-mikuns:not(.m-alert--outline) {
    color: #dcfbff;
    background-color: #5A5C80;
    border-color: #5A5C80; }
.alert-mikuns:not(.m-alert--outline) hr {
    border-top-color: #5A5C80; }
.alert-mikuns:not(.m-alert--outline) .alert-link {
    color: #a9f6ff; }
.alert-mikuns:not(.m-alert--outline) .close {
    color: #dcfbff; }

.m-badge.m-badge--mikuns {
    background-color: #5A5C80;
    color: #ffffff; }